<!--iterate through and print out this.games-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isLoggedIn" routerLink="/login">Login</ion-button>
      <ion-button *ngIf="!isLoggedIn" routerLink="/register">Register</ion-button>
      <ion-button *ngIf="isLoggedIn" routerLink="/profile">Hello!</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of this.games ; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="item.game.images.small" alt="Game Image">
      </ion-thumbnail>
      <ion-label>Game: {{item.game.name}}</ion-label>
      <ion-label>Price: {{item.game.price | currency}}</ion-label>
      <ion-label>Players: {{item.game.players}}</ion-label>
      <ion-button (click)="deleteGame(this.games[i].id)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
